// =============================================================================
// Font Face
// =============================================================================
/* 
 * @param $name - название шрифта
 * @param $path - путь к файлу шрифта
 * @param $weight (опционально) - вес шрифта
 * @param $style (опционально) - стиль шрифта
 * @param $exts (опционально) - расширения файлов шрифта
 * Применение: @include font-face(Roboto, Roboto-Bold, bold, $exts:ttf)
 */
@mixin font-face($name, $path, $weight: null, $style: null, $exts: ttf)
  $src: null
  $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))
  $formats: (otf: "opentype", ttf: "truetype")

  @for $i from 1 through length($exts)
    $ext: nth($exts, $i)
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
    $src: append($src, url(quote($path + "." + str-slice($extmod, 1, -1))) format(quote($format)), comma)

  @font-face
    font-family: quote($name)
    font-style: $style
    font-weight: $weight
    src: $src

// =============================================================================
// Icon
// =============================================================================
/* 
 * @param $width - ширина иконки
 * @param $height - высота иконки
 * @param $image - путь к изображению иконки
 * Применение: 
 * .my-icon
 *   @include icon('/path/to/my-icon.svg', 24px, 24px)
 */
@mixin icon($image, $width: 1em, $height: 1em, $background: #000, $margin-bottom: -2px)
  display: inline-block
  content: ''
  width: $width
  height: $height
  line-height: 1.1875em
  background-size: contain
  background-color: $background
  mask-position: center
  mask-repeat: no-repeat
  mask-size: contain
  margin-bottom: $margin-bottom
  mask-image: url($image)