// переменные для цветовой схемы
$primary-color: #007bff
$secondary-color: #6c757d
$success-color: #28a745
$info-color: #17a2b8
$warning-color: #ffc107
$danger-color: #dc3545

// переменные для шрифтов
$font-roboto: 'Roboto', monospace

// переменные для размеров
$spacer: 1rem
$border-radius: 0.25rem
$font-size-base: 1rem
$line-height-base: 1.5
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)