// переменные для цветовой схемы
/* Акцентный цвет */
$text-accent-color: var(--text-accent-color)
/* Основной цвет текста */
$text-color: var(--text-color)
/* Цвет ссылок */
$link-color: var(--link-color)
/* Цвет ссылок при наведении */
$link-hover-color: var(--link-hover-color)
/* Цвет ошибок */
$error-color: var(--error-color)
/* Цвет успешных действий */
$success-color: var(--success-color)

$background: var(--primary-bg-color) // задает background

// переменные для шрифтов
$font-roboto: 'Roboto', monospace

// переменные для размеров
$spacer: 1rem
$border-radius: 0.25rem
$font-size-base: 1rem
$line-height-base: 1.5
$standart-widths: ( mobile: 360px, max-mobile: 480px, min-tablet: 600px, tablet: 800px, max-tablet: 1000px, desktop: 1240px, large-desktop: 1920px)
$container-max-widths: (m: 360px, t: 720px, t-max: 960px, d: 1128px, ld: 1240px)