// переменные для цветовой схемы
/* Основной цвет текста */
$text-color: var(--primary-text-color)
/* Акцентный цвет */
$accent-color: var(--accent-color)
/* Цвет ссылок */
$link-color: var(--link-color)
/* Цвет ссылок при наведении */
$link-hover-color: var(--link-hover-color)
/* Цвет ошибок */
$error-color: var(--error-color)
/* Цвет успешных действий */
$success-color: var(--success-color)

$background: var(--primary-bg-color) // задает background

// переменные для шрифтов
$font-roboto: 'Roboto', monospace

// переменные для размеров
$spacer: 1rem
$border-radius: 0.25rem
$font-size-base: 1rem
$line-height-base: 1.5
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px)