.btn 
    background: $red
    color: $white
    font-weight: 700
    font-size: 1em
    line-height: 1.1875em
    text-align: center
    text-transform: uppercase
    padding: 1em 1em .95em 1em
    border-radius: 0.375em
input
    outline: none
    border: none
    font-size: 1rem
    &[type="text"]
        border: 1px solid $gray400
        border-radius: 6px
        padding: 25px 25px 24px 19px
        width: 100%
        &::placeholder
            color: $black

input[type="number"] 
    width: 40px
    padding: 4px 5px
    border: 1px solid #bbb
    border-radius: 3px

input[type="range"] 
    -webkit-appearance: none
    margin-right: 15px
    height: 7px
    background: rgba(255, 255, 255, 0.6)
    border-radius: 5px
    background-image: linear-gradient($red, $red)
    background-repeat: no-repeat
    background-size: 0 100%
    &.b-20persent         
        background-size: 16% 100%


/* Input Thumb */
input[type="range"]::-webkit-slider-thumb 
    -webkit-appearance: none
    height: 20px
    width: 20px
    border-radius: 50%
    background: $red
    cursor: ew-resize
    box-shadow: 0 0 2px 0 #555
    transition: background .3s ease-in-out


input[type="range"]::-moz-range-thumb 
    -webkit-appearance: none
    height: 20px
    width: 20px
    border-radius: 50%
    background: $red
    cursor: ew-resize
    box-shadow: 0 0 2px 0 #555
    transition: background .3s ease-in-out


input[type="range"]::-ms-thumb 
    -webkit-appearance: none
    height: 20px
    width: 20px
    border-radius: 50%
    background: $red
    cursor: ew-resize
    box-shadow: 0 0 2px 0 #555
    transition: background .3s ease-in-out


input[type="range"]::-webkit-slider-thumb:hover 
    background: #ff0200


input[type="range"]::-moz-range-thumb:hover 
    background: #ff0200


input[type="range"]::-ms-thumb:hover 
    background: #ff0200


/* Input Track */
input[type=range]::-webkit-slider-runnable-track  
  -webkit-appearance: none
    box-shadow: none
    border: none
    background: transparent


input[type=range]::-moz-range-track 
    -webkit-appearance: none
    box-shadow: none
    border: none
    background: transparent


input[type="range"]::-ms-track 
    -webkit-appearance: none
    box-shadow: none
    border: none
    background: transparent

