.header
    [class^=icon_arrow-bottom]::after
        margin-left: 10px
        height: 1rem
        width: 10px
    &_top
        font-size: 1rem
        background-color: $silverBack
        color: $gray
        padding: 0.625em 0
        font-size: 0.875em
        &-item
            display: flex
            gap: 0.4375em
            align-items: center
            width: 6rem
            span
                white-space: pre
    &_fixed
        padding-top: 1em
        &-main
            .line_column-silver
                height: 2.185em
            nav
                font-size: 0.875rem
                a.active 
                    color:$red
            .icon_tel-white
                display: inline-flex
                width: 1.9375em
                height: 1.9375em
                background: $red
                justify-content: center
                align-items: center
                text-align: center
                border-radius: 50%
                &::after
                    margin: 0 0 0 1px
        &-nav 
            padding: 1.9375em 0
            text-transform: uppercase
            font-size: 1rem
            line-height: 1.1875em
            font-weight: 700
            .btns 
                ul
                    gap: 2.625em
                a
                    display: inline-block
                    position: relative
                    width: 1.5em
                    span
                        position: absolute
                        top: -40%
                        right: -50%
                        font-size: 0.75em
                        line-height: 1em
                        text-align: center
                        padding: .15em .3em
                        border-radius: 1em

    .logo
        margin-left: -1.875em
        img
            max-width: 12.375rem
    .line_column-silver 
        margin-left: -0.9375em
    &-text
        width: 10.75rem
        font-weight: 700
        margin-left: -0.9375em
        span 
            padding: .2em .5em
            border-radius: 1em
    i.icon_menu::after
        width: 1.75em
        height: 1.125em
    .tels
        li:first-child
            font-size: 1.5rem
            font-weight: 700
        li:last-child
            text-align: right
            margin-top: -.5em
            line-height: 1.1875em
.footer
    border-radius: 25px 25px 0 0
    color: $white
    padding-top: 42px
    padding-bottom: 35px
    i[class^="icon_"]::after
        max-height: 11px
        max-width: 11px
    .d-flex
        align-items: baseline
    .menu
        font-weight: 700
        padding-bottom: 35px
        border-bottom: 1px solid rgba($white, .2)
        text-transform: uppercase
    &-mini_sitemap
        padding-top: 60px
        padding-bottom: 54px
        font-size: 14px
        line-height: 16px
        .title
            display: block
            margin-bottom: 25px
        a:not(.title)
            color: $gray
            text-decoration-line: underline
        ul
            &.d-flex
                gap:0
            li
                line-height: 200%
    .catalog
        padding-right: 120px
        &-model
            flex-direction: column
            flex-wrap: wrap
            max-height: 205px
            overflow: hidden
            li
                min-width: 22.2%
        .d-flex:not(ul)
            justify-content: flex-start
            a:last-child
                margin-left: auto
    .title
        font-weight: 700
        &::after
            margin-top: 8px
            display: block
            content: ""
            height: 2px
            width: 34px
            background: linear-gradient(90deg, $red 0%, $red 60%, rgba($red, 0))
    .col-12_3
        a.m-icon
            margin-right: 43px
            line-height: 24px
        .circle-red
            margin-top: -4px
        ul
            margin-bottom: 0
        .d-flex
            gap: 12px
    &-info
        padding: 1em
        background: #1B1B1B
        .d-flex
            justify-content: left
        a
            text-decoration-line: underline
        .container >*+*
            margin-top: 1em
/* Media */
@media (max-width: 1420px)
    :root
        font-size: 14px
    .header
        .tels .d-flex
            gap: .5rem

@media ( max-width: 1200px )
    :root
        font-size: 12px
    .header
        &-text, .line_column-silver
            display: none
        .tels
            li:last-child
                display: none
@media ( max-width: 900px )
    .container 
        width: 708px
    .header
        .container
            display: flex
            gap: 2.25em
        &_top,
        .feedback
            display: none
        .logo
            margin-left: 0
        &_fixed
            &-main
                flex: 1 1
                justify-content: left
                nav
                    display: none
            &-nav>ul>li:not(.btns)
                display: none
            .h-tels
                margin-left: auto