.interpreter
    &-swiper-container
        .swiper-slide
            position: relative
            background: linear-gradient(0deg, rgba(239, 240, 240, 0), rgba(239, 240, 240, 0))
            .body
                position: relative
                box-sizing: border-box
                height: 197px
                padding: 29px 25px 25px
                display: flex
                flex-direction: column
                justify-content: space-between
                h3
                    font-weight: 700
                    font-size: 20px
                    line-height: 23px
                    margin: 0
                span               
                    font-weight: 400
                    font-size: 14px
                    line-height: 16px
                    color: $gray
                .btn-2
                    width: fit-content
    &-btns
        .btn-1
            &:last-child
                background: $red
                color: $white
                margin-left: 12px
