@import style/var
@import style/mixins
/* style */
i.icon
    &::after
        display: inline-block
        content: ''
        line-height: 1.1875em
        background-size: contain
        mask-position: center
        mask-repeat: no-repeat
        mask-size: contain
