@import style/var

:root 
    /* Основной цвет фона */
    --primary-bg-color: #333
    /* Основной цвет текста */
    --primary-text-color: #fff
    /* Акцентный цвет */
    --accent-color: #ff5733
    /* Цвет ссылок */
    --link-color: #007BFF
    /* Цвет ссылок при наведении */
    --link-hover-color: #0056b3
    /* Цвет ошибок */
    --error-color: #FF0000
    /* Цвет успешных действий */
    --success-color: #00FF00

*
  color: $text-color
a
  color: $link-color
  &[href^="tel:"],
  &[href^="mail:"]
    white-space: nowrap
  &:hover
    text-decoration: none
    color: $link-hover-color


/* Стили для контейнера */
.container 
  margin: 0 auto
  max-width: map-get($container-max-widths, xl)
  padding: 0 15px
  @media screen and (max-width: map-get($container-max-widths, lg)) 
    max-width: map-get($container-max-widths, lg)

  @media screen and (max-width: map-get($container-max-widths, md)) 
    max-width: map-get($container-max-widths, md)

  @media screen and (max-width: map-get($container-max-widths, sm)) 
    max-width: map-get($container-max-widths, sm)