@import style/var

:root 
    /* Основной цвет фона */
    --primary-bg-color: ##F4F4FD
    /* Акцентный цвет текста */
    --text-accent-color: #2E2F42
    /* Основной цвет текста */
    --text-color: #434455
    /* Цвет ссылок */
    --link-color: inherit
    /* Цвет ссылок при наведении */
    --link-hover-color: #404BBF
    /* Цвет ошибок */
    --error-color: #FF0000
    /* Цвет успешных действий */
    --success-color: #00FF00

*
  color: $text-color
a
  color: $link-color
  &[href^="tel:"],
  &[href^="mail:"]
    white-space: nowrap
  &:hover
    text-decoration: none
    color: $link-hover-color

h1, h2, h3
  color: $text-accent-color

/* Стили для контейнера */
.container
  margin: 0 auto
  max-width: map-get($container-max-widths, ld)
  padding: 0 .9375rem
  @media screen and (max-width: map-get($standart-widths, desktop))
    max-width: map-get($container-max-widths, d)

  @media screen and (max-width: map-get($standart-widths, max-tablet))
    max-width: map-get($container-max-widths, t-max)
    padding-left: 15px !important
    padding-right: 15px !important
  @media screen and (max-width: map-get($standart-widths, min-tablet))
    max-width: map-get($container-max-widths, t)